.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

body, #app {
  height: 100vh;
  margin: 0;
}

body {
  background: url('../public/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrollable-container {
  overflow-y: auto;
}

h1 {
  text-shadow: -1px 0 #7c868d, 0 1px #7c868d, 1px 0 #7c868d, 0 -1px #7c868d;
}

.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;
}

.btn:enabled {
  cursor: pointer !important;
}

div.page, .jumbotron {
  background-color: #f2f0ed;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 0 8px 100px -6px black;
}

div.page {
  min-height: 70vh;
  height: 95vh;
  margin-top: 15px;
}

img[alt="avatar"] {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid gray;
}

.block-75 {
  height: -webkit-calc(100% - 72px);
  height: -moz-calc(100% - 72px);
  height: calc(100% - 72px);
}

.block-40 {
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
}

.square {
  border-radius: 5px;
  border: 0.5px solid #8f9696;
  width: 47%;
  height: 45%;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-table;
}

.language-stats {
  background: #6e5494;
  color: white;
}

.similar-friends {
  background: #4078c0;
  color: white;
}

.recommended-repos {
  background: #bd2c00;
  color: white;
}

.explore-recommended-repos {
  background: #c9510c;
  color: white;
}

.interesting-people {
  background: #6cc644;
  color: white;
}

.explore-interesting-people {
  background: #4078c0;
  color: white;
}
.list-item {
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  height: 20%;
  background-color: #fafafa;
  text-align: justify;
}

.list-item > img {
  border: 1px solid gray;
  margin-right: 10px;
}

.no-outline:focus {
  outline: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.no-padding {
  padding: 0;
}

.octicon-margin {
  margin-top: 5px;
}

.vertical-center {
  margin-top: 25%;
}

.medium-font {
  font-size: medium;
}
